<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Crypto Info</title>
        <link rel="stylesheet" href="{% static 'css/home_page_styles.css' %}">
    </head>
    <body class="main_screen">
        {% csrf_token %}
        <img class="logo" src="{% static 'icons/logo.png'%}" alt="">
        <img class="logo_text" src="{% static 'icons/logo_text.png'%}" alt="">
        <div class="button_log_out">
            <p class="button_log_out_text">Выйти</p>
        </div>
        <div class="info">
            {% for info in crypto_info %}
                <div class="form">
                    <div class="name">
                        <p class="coin">{{info.name}}</p>
                        <p class="symbol">{{info.symbol}}</p>
                        <img class="crypto_icon" src="{{info.image}}">
                    </div>
                    <div class="price">
                        {{info.current_price}}
                    </div>
                    {% if info.changes_for_1h >= 0 %}
                        <div class="increase_price">
                            {{info.changes_for_1h}}%
                        </div>
                    {% else %}
                        <div class="fall_price">
                            {{info.changes_for_1h}}%
                        </div>
                    {% endif %}
                    {% if info.changes_for_24h >= 0 %}
                        <div class="increase_price">
                            {{info.changes_for_24h}}%
                        </div>
                    {% else %}
                        <div class="fall_price">
                            {{info.changes_for_24h}}%
                        </div>
                    {% endif %}
                    {% if info.changes_for_7d >= 0 %}
                        <div class="increase_price" style="border-right: none">
                            {{info.changes_for_7d}}%
                        </div>
                    {% else %}
                        <div class="fall_price" style="border-right: none">
                            {{info.changes_for_7d}}%
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </body>
</html>