{% extends "base.html"%}
{% load static %}
{% block title %}250 Криптовалют{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/common_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/info_250_coins_page.css' %}">
    <link rel="icon" href="{% static 'icons/icon_logo.png' %}">
{% endblock %}
{% block content %}
    {% csrf_token %}
    <img class="logo" src="{% static 'icons/logo.png'%}" alt="">
    <img class="logo_text" src="{% static 'icons/logo_text.png'%}" alt="">
    <p class="user_name">{{user.username}}</p>
    <a class="button_back_to_welcome_page" href="{% url 'welcome_page' %}">
        <p class="button_text">Главная</p>
    </a>
    <a class="button_log_in_out" href="{% url 'logout' %}">
        <p class="button_text">Выйти</p>
    </a>
    <img class="table_blur" src="{% static 'icons/table_form_blur.png'%}" alt="">
        <div class="table_form">
           <div class="table">
                <p class="table_text">Валюта</p>
                <p class="table_text">Текущая цена</p>
                <p class="table_text">Изменения<br>(1 ч.)</p>
                <p class="table_text">Изменения<br>(24 ч.)</p>
                <p class="table_text">Изменения<br>(7 д.)</p>
            </div>
        </div>
        <div class="info">
            {% for info in crypto_info %}
                <div class="form">
                    <div class="crypto_info">
                        <p class="coin_name">{{info.name}}</p>
                        <p class="symbol">{{info.symbol}}</p>
                        <img class="crypto_icon" src="{{info.image}}">
                    </div>
                    <div class="price">
                        {{info.current_price}}$
                    </div>
                    {% if info.changes_for_1h > 0 %}
                        <div class="increase_price">
                            {{info.changes_for_1h}}%
                        </div>
                    {% elif info.changes_for_1h < 0 %}
                        <div class="fall_price">
                            {{info.changes_for_1h}}%
                        </div>
                    {% else %}
                        <div class="no_change_price">
                            {{info.changes_for_1h}}%
                        </div>
                    {% endif %}
                    {% if info.changes_for_24h > 0 %}
                        <div class="increase_price">
                            {{info.changes_for_24h}}%
                        </div>
                    {% elif info.changes_for_24h < 0 %}
                        <div class="fall_price">
                            {{info.changes_for_24h}}%
                        </div>
                    {% else %}
                        <div class="no_change_price">
                            {{info.changes_for_24h}}%
                        </div>
                    {% endif %}
                    {% if info.changes_for_7d > 0 %}
                        <div class="increase_price" style="border-right: none">
                            {{info.changes_for_7d}}%
                        </div>
                    {% elif info.changes_for_7d < 0%}
                        <div class="fall_price" style="border-right: none">
                            {{info.changes_for_7d}}%
                        </div>
                    {% else %}
                        <div class="no_change_price" style="border-right: none">
                            {{info.changes_for_7d}}%
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a class="page-link" href="?page=1">&laquo;1</a>
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                    {% endif %}

                    <span class="current-page">
                        {{ page_obj.number }}
                    </span>

                    {% if page_obj.has_next %}
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }} &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
{% endblock %}