{% extends "base.html"%}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/info_250_coins.css' %}">
{% endblock %}
{% block title %}250 Coins{% endblock %}
{% block content %}
<img class="logo" src="{% static 'icons/logo.png'%}" alt="">
        <img class="logo_text" src="{% static 'icons/logo_text.png'%}" alt="">
        <div class="button_log_out">
            <p class="button_log_out_text">Выйти</p>
        </div>
        <img class="table_blur" src="{% static 'icons/table_form_blur.png'%}" alt="">
        <div class="table_form">
           <div class="table">
                <p class="table_text">Валюта</p>
                <p class="table_text">Текущая цена</p>
                <p class="table_text">Изменения<br>(1 ч.)</p>
                <p class="table_text">Изменения<br>(24 ч.)</p>
                <p class="table_text">Изменения<br>(7 д.)</p>
            </div>
        </div>
        <div class="info">
            {% for info in crypto_info %}
                <div class="form">
                    <div class="crypto_info">
                        <p class="coin_name">{{info.name}}</p>
                        <p class="symbol">{{info.symbol}}</p>
                        <img class="crypto_icon" src="{{info.image}}">
                    </div>
                    <div class="price">
                        {{info.current_price}}$
                    </div>
                    {% if info.changes_for_1h > 0 %}
                        <div class="increase_price">
                            {{info.changes_for_1h}}%
                        </div>
                    {% elif info.changes_for_1h < 0 %}
                        <div class="fall_price">
                            {{info.changes_for_1h}}%
                        </div>
                    {% else %}
                        <div class="no_change_price">
                            {{info.changes_for_1h}}%
                        </div>
                    {% endif %}
                    {% if info.changes_for_24h > 0 %}
                        <div class="increase_price">
                            {{info.changes_for_24h}}%
                        </div>
                    {% elif info.changes_for_24h < 0 %}
                        <div class="fall_price">
                            {{info.changes_for_24h}}%
                        </div>
                    {% else %}
                        <div class="no_change_price">
                            {{info.changes_for_24h}}%
                        </div>
                    {% endif %}
                    {% if info.changes_for_7d > 0 %}
                        <div class="increase_price" style="border-right: none">
                            {{info.changes_for_7d}}%
                        </div>
                    {% elif info.changes_for_7d < 0%}
                        <div class="fall_price" style="border-right: none">
                            {{info.changes_for_7d}}%
                        </div>
                    {% else %}
                        <div class="no_change_price" style="border-right: none">
                            {{info.changes_for_7d}}%
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
{% endblock %}