{% extends "base.html" %}
{% load static %}
{% block title %}КРИПТУАЛЬНО{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/common_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
    <link rel="icon" href="{% static 'icons/icon_logo.png' %}">
{% endblock %}
{% block content %}
    {% csrf_token %}
    <img class="logo" src="{% static 'icons/logo.png' %}" alt="">
    <img class="logo_text" src="{% static 'icons/logo_text.png' %}" alt="">
    <img class="bitcoins" src="{% static 'images/bitcoins_image.png' %}" alt="">
    <p class="intro_text">
        Перед покупкой криптовалют проверяйте<br>
        их актуальные курсы обмена и рыночную<br>
        капитализацию. По кнопке ниже показана<br>
        динамика различных криптовалют в режиме<br>
        реального времени.
    </p>
    {% if user.is_authenticated %}
        <p class="user_name">{{ user.username }}</p>
        <a class="show_info_button" href="{% url 'info_250_coins' %}">
            <img src="{% static 'icons/show_info_button_background.png' %}" alt="">
            <p class="show_info_button_text">Курс крипты тут</p>
        </a>
        <a class="button_log_in_out" href="{% url 'logout' %}">
            <p class="button_text">Выйти</p>
        </a>
    {% else %}
        <a class="show_info_button" href="{% url 'info_10_coins' %}">
            <img src="{% static 'icons/show_info_button_background.png' %}" alt="">
            <p class="show_info_button_text">Курс крипты тут</p>
        </a>
        <a class="button_log_in_out" href="{% url 'login' %}">
            <p class="button_text">Войти</p>
        </a>
    {% endif %}
    <a class="sign_up_button" href="{% url 'signup' %}">
        <p class="button_text">Зарегистрироваться</p>
    </a>
{% endblock %}
