.info {
    font-family: Arial;
    font-size: 30px;
    margin-left: 10%;
    margin-top: 10%;
}
.form{
    background-image: url("/static/icons/form.png");
    height: 168px;
    width: 1132px;
    margin-bottom: 1%;
}

.position {
    display: inline;
    margin-left: 1em;
}

.name {
    display: inline;
    margin-left: 1em;
}

.price {
    display: inline;
    margin-left: 1em;
}

.increase {
    color: #42FF00;
    display: inline;
    margin-left: 1em;
}

.fall {
    color: #FF2E00;
    opacity: 0.86;
    display: inline;
    margin-left: 1em;
}

.main_screen {
    background-image: url("/static/images/background.jpg");
}

.logo {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 200px;
    top: 10px;
}

.logo_text {
    position: absolute;
    width: 304px;
    height: 43px;
    left: 300px;
    scale: 90%;
    top: 38px;
}

.button_log_out {
    position: absolute;
    background-image: url("/static/icons/button_background.png");
    height: 110px;
    width: 200px;
    right: 50px;
    top: 6px;
    scale: 90%;
}

.button_log_out_text {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #EBEBEB;
    letter-spacing: 1px;
}